In [1]:
import pandas as pd

In [2]:
df = pd.read_json('data/wyndham-solar-energy-production.json', orient='records')

This hasnt exactly read in the JSON file very nicely... Will have to work with it though

In [3]:
df.head()

,type,name,features
0,FeatureCollection,wyndham-solar-energy-production.json,"{'type': 'Feature', 'geometry': None, 'propert..."
1,FeatureCollection,wyndham-solar-energy-production.json,"{'type': 'Feature', 'geometry': None, 'propert..."
2,FeatureCollection,wyndham-solar-energy-production.json,"{'type': 'Feature', 'geometry': None, 'propert..."
3,FeatureCollection,wyndham-solar-energy-production.json,"{'type': 'Feature', 'geometry': None, 'propert..."
4,FeatureCollection,wyndham-solar-energy-production.json,"{'type': 'Feature', 'geometry': None, 'propert..."

This lists the different properties of the site data

In [4]:
df.iloc[0]['features']['properties']

{'system_id': '9386741',
 'system_name': 'Yerambooee Community Centre  ',
 'date_stamp': '2018-08-01',
 'energy_prod(KWh)': 51.5,
 'energy_life(MWh)': None,
 'C02 (Kg)': 47.41,
 'KWp': 18.2,
 'performance': 2.8,
 'lat': -37.8587717,
 'lon': 144.7100923,
 'date_installed': '2017-07-27'}

I am only interested in the data that is held within the properties key. I will have to iterate into each row and pull this data out and place it into a new dataframe

In [5]:
new_df = pd.DataFrame()
sites = []
for i, x in df.iterrows():
    sites.append(x['features']['properties']['system_name'])
    temp_df = pd.DataFrame(x['features']['properties'], index=[0])
    new_df = new_df.append(temp_df)
sites = set(sites)

Have a look at the newly constructed df

In [6]:
new_df.head()

,system_id,system_name,date_stamp,energy_prod(KWh),energy_life(MWh),C02 (Kg),KWp,performance,lat,lon,date_installed
0,9386741,Yerambooee Community Centre,2018-08-01,51.5,None,47.41,18.2,2.8,-37.858772,144.710092,2017-07-27
0,1888434222,Iramoo Community Centre,2018-08-01,97.7,None,89.84,35.2,2.8,-37.898326,144.622718,2017-10-27
0,9387235,Wayaperri House,2018-08-01,56.5,None,51.96,17.9,3.2,-37.905608,144.668118,2017-07-27
0,9386741,Yerambooee Community Centre,2018-08-02,58.1,None,53.42,18.2,3.2,-37.858772,144.710092,2017-07-27
0,1888434222,Iramoo Community Centre,2018-08-02,112.0,None,103.01,35.2,3.2,-37.898326,144.622718,2017-10-27

Lets grab out a single entry for each site. I will put this into a CSV and use it for plotting the locations of the sites.

In [7]:
single_entry_site = new_df.drop_duplicates(subset=['system_name'])

In [8]:
single_entry_site.to_csv('data/single_entry_each_site.csv')

Now lets place each sites data into a subsetted datafame and export it to CSV for later consumption

In [9]:
for x in set(sites):
    site_subset = new_df.loc[new_df['system_name'] == x]
    
    site_name_fmt = x.replace(" ", "").lower()
    
    site_subset.to_csv(f'data/solar_farm_subset_{site_name_fmt}.csv')